{% extends 'base.html' %}

{% block content %}

<form method="post">
    <table>
        <thead>
        <tr>
            <h2>Info</h2>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Store</th>
            <td>{{receipt.store_name}}</td>
        </tr>
        <tr>
            <th>Addr</th>
            <td>{{receipt.store_addr}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{receipt.date}} {{receipt.time}}</td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <h2>Items</h2>
        </tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        </thead>
        <tbody>
        {% for item in receipt.items %}
        <tr>
            <td>{{item.product}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <table>
        <thead>
        <tr>
            <h2>Sum</h2>
        </tr>
        <tr>
            <th>Subtotal</th>
            <td>{{receipt.subtotal}}</td>
        </tr>
        <tr>
            <th>Tips</th>
            <td>{{receipt.tips}}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{receipt.total}}</td>
        </tr>
        </thead>
    </table>
    <button type="button"><a href={{ url_for('split', receipt_uuid=receipt_uuid) }}>Split</a></button>
</form>

{% endblock %}
