{% extends 'base.html' %}

{% block content %}

<form method="post">
    <table>
        <thead>
        <tr>
            <h2>Items</h2>
        </tr>
        <th>Product</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Choice</th>
        </thead>
        <tbody>
        {% for item in receipt.items %}
        <tr>
            <td>{{item.product}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.price}}</td>
            <td><input type="checkbox" name="receipt_items" value="{{ item.uuid }}"></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <button type="submit">Submit</button>
</form>

{% endblock %}
